.cmp-carouselComp {
  margin-top: 85px;
}
.cmp-carouselComp-container {
}
.cmp-carouselComp-image {
   width: 100%;
}
.cmp-carouselComp-title {
   font-size: 2rem;
   font-weight: 900;
   text-align: center;
}
.cmp-carouselComp-text {
   text-align: center;
}
.cmp-carouselComp-content {
   position: absolute;
   left: 50%;
   top: 500px;
   transform: translate(-50%, -50%);
}