.cmp-teaser {

}
.cmp-teaser__image {}
.cmp-teaser__content {
    position: absolute;
    padding-bottom: 1250px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.cmp-teaser__pretitle {}
.cmp-teaser__title {
    font-size: 2rem;
    font-weight: 900;
}
.cmp-teaser__title-link {}
.cmp-teaser__description {}
.cmp-teaser__action-container {}
.cmp-teaser__action-link {}